body {
  font-family: 'Roboto'
}

main {
  margin: 0 auto;
  max-width: 1440px;

  & div {
    @media (min-width: 768px) {
      color: var(--div-color);
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: var(--h2-font-size);
}

footer{
  background-color: var(--anthrazit);
  color: var(--white);
  display: flex;
  justify-content: space-around;
  padding-right: 20%;
}
